[MESSAGES CONTROL]
# In steamruntime_helper.py, we can't call print_child_output()
# because the helper may be running inside Steam Runtime container
# and unable to import our modules.
disable=
    duplicate-code,


[TYPECHECK]
# Args.* are set dynamically in main.py:
#
#     arg_parser = create_arg_parser()
#     arg_parser.parse_args(namespace=Args)
#
# We need this to avoid triggering E1101.
generated-members=Args.*
